@import "../import";
.m-app-bar {
    width: 100%;
    height: d($--size-appBar);
    //min-height: $--size-appBar;
    display: flex;
    align-items: center;
    padding: d($--space-appBar-inset-y) d($--space-appBar-inset-x);
    .m-icon {
        cursor: pointer;
    }
}