@import "../import";
.m-app-bar {
    width: 100%;
    @include flex-size(d($--size-appBar), y);
    display: flex;
    align-items: center;
    padding: 0 d($--space-appBar-inset-x);
    @include elevation(2)
}