@import "../import";

.m-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    > img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    // size
    @each $name, $value in $--Size-avatar {
        &.m--#{$name} {
            @include flex-size(d($value));
        }
    }
    // shape
    &.m--circle {
        border-radius: map-get($map: $--Radius, $key: circle);
        > img {
            border-radius: map-get($map: $--Radius, $key: circle);
        }
    }
    &.m--round {
        border-radius: map-get($map: $--Radius, $key: round);
        > img {
            border-radius: map-get($map: $--Radius, $key: round);
        }
    }
    &.m--corner {
        border-radius: map-get($map: $--Radius, $key: corner);
        > img {
            border-radius: map-get($map: $--Radius, $key: corner);
        }
    }
    &.m--square {
        border-radius: 0;
    }
    // variety 
    &.m--outline {
        border-width: 2px;
        border-style: solid;
    }
    
    // 背景颜色继承utils .bg-name-value
    // 颜色继承utils .color-name-value
    // 阴影继承utils .shadow-name-value
}