@mixin button-height($size) {
 min-height: $size;
 height: $size;
}

@mixin button-bg($type) {
 background-color: $type
}

.m-button {
 margin: d(6) d(8);
 padding: 0 d(8);
 @each $name,
 $value in $--Size-button-height {
  &.#{$name} {
   @include button-height(d($value));
  }
 }
 @include button-height(d(map-get($--Size-button-height, sm)));
 
 &.round {
  border-radius: d($--size-button-round-radius)
 }
 &:not(.default){
  color:getColor(grey,50);
 }
 color:getColor(grey,A400);
 border-radius: d($--size-button-radius);
 min-width: d($--size-button-min-width);
 cursor: pointer;
 //font-size: $--font-size-p-md;
 box-shadow: map-get($--Elevations,3);
}