/**
 * button
 */

.m-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: d(6) d(8);
    padding: 0 d(8);
    border-radius: d($--radius);
    // si
    @each $name, $value in $--Size-button-height {
        &.#{$name} {
            @include flex-size(d($value), y);
        }
    }
    // type
    &.normal {
        @include elevation(2)
    }
    &.outline {
        border-width: 2px;
        border-style: solid;
    }
    // shape
    &.square {
        border-radius: 0
    }
    &.corner {
        border-radius: d(map-get($--Radius, corner))
    }
    &.round {
        border-radius: d(map-get($--Radius, round))
    }
    &.circle {
        border-radius: 50%;
        @each $name, $value in $--Size-button-height {
            &.#{$name} {
                @include flex-size(d($value), x);
            }
        }
    }

    &:not(.bg-default){
        color:getColor(grey,50);
    }
    color:getColor(grey,A400);
    min-width: d($--size-button-min-width);
    cursor: pointer;

    &>*{
        vertical-align: middle;
    }
}