// checkbox
$--size-checkbox: 26;
// checkbox
$--size-checkbox__wrapper: 45;

.m-checkbox {
    color: getColor(gray, A500);
    cursor: pointer;
    position: relative;
    height: d($--size-checkbox);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    .m-icon {
        height: d($--size-checkbox);
        width:  d($--size-checkbox);
    }
    &__checkbox {
        position: relative;
        height: d($--size-checkbox);
        width:  d($--size-checkbox);
        margin-right: .4em;
    }
    &__checkbox-wrapper {
        position: absolute;
        left:   d(- $--size-checkbox__wrapper / 2  + $--size-checkbox / 2);
        top:    d(- $--size-checkbox__wrapper / 2  + $--size-checkbox / 2);
        height: d($--size-checkbox__wrapper);
        width:  d($--size-checkbox__wrapper);
        border-radius: 50%;
    }

    &__label {
        color: transparent;
    }
}
