

.m-checkbox {
    color: getColor(gray, A500);
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    &.m--disabled {
        opacity: .5;
    }
    &__check-icon {
        position: absolute;
        left: 0;
        top:0;
    }
    &__checkbox {
        position: relative;
        margin-right: .4em;
    }
    &__checkbox-wrapper {
        position: absolute;
        border-radius: 50%;
    }

    &__label {
        color: transparent;
    }

    //size
    @each $breakpoint in $--Breakpoints {
        $size: map_get($--Size-icon, $breakpoint);
        $size-wrapper: map_get($--Size-check__wrapper, $breakpoint);
        &.m--#{$breakpoint} {
            height: d($size);
            width: d($size);
            .m-checkbox__checkbox-wrapper {
                left:   d(- $size-wrapper / 2  + $size / 2);
                top:    d(- $size-wrapper / 2  + $size / 2);
                height: d($size-wrapper);
                width:  d($size-wrapper);
            }
        }
    }
}
