@import "../import";

// chip
.m-chip {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    cursor: pointer;
    position: relative;
    .m-icon__cancel {
        position: absolute;
        right: 2px;
    }

    word-break: keep-all;
    // size
    @each $name, $value in $--Size-chip {
        $--space-chip-x: $value  / 2 * .7;

        &.m--#{$name} {
            padding: 0 d($--space-chip-x);
            height: d($value);
            border-radius: d($value);
            font-size: d($value / 2);
            &.m--closeable {
                padding-right: d($value + 2);
            }
            &.m--closetoggle {
                padding-right: d($--space-chip-x);
                .m-icon__cancel {
                   opacity: 0;
                }
                &:hover {
                    padding-right: d($value + 2);
                    .m-icon__cancel {
                        opacity: 1;
                    }
                }
                transition: padding-right $--transition-effect-base;
            }
            .m-chip__media {
                margin-left: d(- $--space-chip-x);
                margin-right: d($--space-chip-x / 2);
            }
            .m-avatar {
                border-radius: 50%;
                img {
                    border-radius: 50%;
                }
                @include flex-size(d($value));
            }
            .m-icon__cancel {
                height: d($value - 4);
                width:  d($value - 4);
                &:hover {
                    opacity: .7;
                }
                transition: opacity $--transition-effect-base;
            }
        }
    }
    background-color: lightgrey;
}