@import "../../styles/import";
.m-container {

}

.m-row {
    display: flex;

    &-wrap {
        &-normal {
            flex-wrap: wrap;
        }
        &-reverse {
            flex-wrap: wrap-reverse;
        }
        &-none {
            flex-wrap: nowrap;
        }
    }
    &-justify {
        &-start {
            justify-content: flex-start;
        }
        &-center {
            justify-content: center;
        }
        &-end {
            justify-content: flex-end;
        }
        &-between {
            justify-content: space-between;
        }
        &-around {
            justify-content: space-around;
        }
        &-evenly {
            justify-content: space-evenly;
        }
    }
    &-align {
        &-start {
            align-items: flex-start;
        }
        &-center {
            align-items: center;
        }
        &-stretch {
            align-items: stretch;
        }
        &-end {
            align-items: flex-end;
        }
    }

    @each $breakpoint, $value in $--Grid-breakpoints {
        &-space-#{$breakpoint} {
            padding: d(map_get($--Space, $breakpoint));
            .m-col {
                padding: d(map_get($--Space, $breakpoint));
            }
        }
    }
}

.m-col {
    box-sizing: border-box;
    @each $breakpoint, $value in $--Grid-breakpoints {
        @include media-breakpoint-up($breakpoint, $--Grid-breakpoints) {
            &-#{$breakpoint} {
                @for $col from 1 through $--grid-columns {
                    &-#{$col} {
                        width: calc(100% / #{$--grid-columns / $col});
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

.m-flex-filler {
    flex-grow: 1!important
}