
$prefix:m-modal;
.#{$prefix} {
 @include fullscreen();
 &--wrap {
  @include fullscreen();
  background-color: rgba($color: #000000, $alpha: 0.3);
  transition: all .5s;
  transform-origin: 50% 50%;
 }
 &--content {
  background-color: #ffffff;
  @include elevation(24);
  transition: all .5s;
  transform-origin: 50% 50%;
  position: relative;
  height: auto;
  margin: 0 auto;
  padding: d(15);
  &.full-screen {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   .#{$prefix}--body {
    flex: 1
   }
  }
 }
 &--body {
  min-height: 100px;
 }
 &--footer {
  display: flex;
  justify-content: flex-end
 }
 .m-icon--close {
  position: absolute;
  right: d(20);
  top: d(10);
  cursor: pointer
 }
 &--title {
  height: d(30);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 } //过度动画
 $name:modal-transition;
 &.#{$name}-enter,
 &.#{$name}-leave-to {
  .#{$prefix}--wrap {
   opacity: 0
  }
  .#{$prefix}--content {
   transform: scale(0.2);
   opacity: 0
  }
 }
 &.#{$name}-enter-active,
 &.#{$name}-leave-active {
  transition: all .5s;
  transform-origin: 50% 50%;
 } //全屏模式动画
 $nameFullscreen:modal-fullscreen-transition;
 &.#{$nameFullscreen}-enter,
 &.#{$nameFullscreen}-leave-to {
  .#{$prefix}--content {
   transform: translateY(100%);
  }
 }
 &.#{$nameFullscreen}-enter-active,
 &.#{$nameFullscreen}-leave-active {
  transition: all .5s;
  transform-origin: 50% 50%;
 }
}