.m__select{
  line-height: d(32);
  input{
    line-height: inherit;
    border: none;
    width: 40%;
  }
}
.m__select-list{
  // max-width: d(200);
}
.m__option{
  padding: d(10);
  line-height: d(30);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  &:hover{
    background-color:$--hover-bg-gray
  }
  &.m--active{
    background-color:$--hover-bg-gray
  }
}