.m__select{
  
}
.m__select-list{
  // max-width: d(200);
}
.m__option{
  padding: d(10);
  line-height: d(30);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    background-color:$--hover-bg-gray
  }
}