.m-tab {
  .m-tab__labels {
    display: flex;
    height: d(48);
    position: relative;
    overflow-x: hidden;
  }
  .m-tab__labels-container{
    display: flex;
    height: inherit;
    overflow-x: visible;
    transition: all .3s;
  }
  .m-tab__labels-bg{
    height: inherit;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    &.m-tab__labels--scollable{
      margin: 0 d(20);
    }
  }
  .m-tab__label {
    padding: d(6) d(12);
    height: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    display: inline-flex;
    &.m--active {
      color: #fff;
    }
  }
  .m-tab__label-underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    transition: all 0.3s;
  }
  .m-tab__content-container{
    overflow: hidden;
    height: 100%;
  }
  .m-tab__content{
    display: flex;
    width: 100%;
    transition: all .3s;
  }
  .m-tab-item {
    // display:inline-flex;
    width: 100%;
    flex-shrink: 0;
  }
  .m-tab__scroll-arrow{
    width: d(20);
    height: 100%;
    position: absolute;
    top: 0;
    &.m-tab__scroll-arrow--left{
      left: 0;
    }
    &.m-tab__scroll-arrow--right{
      right: 0;
    }
  }
}
