.m-table {
    border-radius: d($--radius);
    position: relative;
    background-color: white;
    table {
        min-width: 100%;
        border-collapse: collapse;
        position: relative;
        thead {
            width: inherit;
        }
        tbody{
            width: inherit;
            tr:first-child{
                td {
                    border-top: none;
                }
            }
        }
        tr {
            border-width: 0;
            border-style: solid;
            border-color: $--color-border;
        }
    }
    .m-table__wrapper {
        overflow: auto;
        background-color: inherit;
        @include scroll-bar-slim(xy);
        width: 100%;
    }
    .m-table-head {
        min-width: 100%;
        background-color: inherit;
        tr {
            border-bottom-width: 1px;
        }
    }
    .m-table-body {
        width: 100%;
        background-color: inherit;
        tr {
            border-bottom-width: 1px;
            cursor: pointer;
            &:last-child {
                border-bottom-width: 0;
            }
        }
    }
    .m-table-body__row {
        transition: background-color $--transition-effect-base;
    }

    // size
    @each $breakpoint in $--Breakpoints {
        $font-size: map_get($--Size-font, $breakpoint);
        $space-table-cell-x: map_get($--Space-table-cell-x, $breakpoint);
        $space-table-cell-y: map_get($--Space-table-cell-y, $breakpoint);

        &.m--#{$breakpoint} {
            font-size: d($font-size);
            td {
                padding: d($space-table-cell-y) d($space-table-cell-x);
            }
        }
    }

    // border
    &.m--border {
        table {
            td {
                border-width: 1px;
                border-style: solid;
                border-color: $--color-border;
            }
        }
    }

    // scroll-header
    //&.m--scroll-y {
    //    .m-table-body {
    //        overflow-y: auto;
    //        @include scroll-bar-slim(y);
    //    }
    //}
    // sticky-header
    &.m--sticky-header {
        .m-table-head {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    // hover
    &.m--row-hover {
        .m-table-body__row {
            @include hover-bg();
        }
    }
    &.m--cell-hover {
        .m-table-body__cell {
            @include hover-bg();
        }
    }

    // row checked
    .m-table-body__row {
        &.m--checked {
            background-color: $--color-hover-bg;
        }
    }
}
