.m-table {
    border-radius: d($--radius);
    position: relative;
    background-color: white;
    table {
        min-width: 100%;
        border-collapse: collapse;
        position: relative;
        border-spacing: 0;
        background-color: inherit;
        > thead {
            background-color: inherit;
            width: inherit;
        }
        > tbody{
            background-color: inherit;
            width: inherit;
        }
        tr {
            background-color: white;
            border: none;
        }
        td {
            border: none;
            background-color: inherit;
            position: relative;
            &:last-child {
                &:before {
                    width: 0;
                }
            }
            &:after {
                content: ' ';
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: $--color-border;
                right: 0;
                bottom: 0;
            }
        }
    }

    .m-table__wrapper {
        overflow: auto;
        background-color: inherit;
        @include scroll-bar-slim(xy);
        width: 100%;
    }
    .m-table-head {
        min-width: 100%;
        background-color: inherit;
    }
    .m-table-body {
        width: 100%;
        background-color: inherit;
        tr {
            cursor: pointer;
        }
    }
    .m-table-body__row {
        transition: background-color $--transition-effect-base;
    }
    .m-table-body__expand {
        width: 100%;
    }

    // size
    @each $breakpoint in $--Breakpoints {
        $font-size: map_get($--Size-font, $breakpoint);
        $space-table-cell-x: map_get($--Space-table-cell-x, $breakpoint);
        $space-table-cell-y: map_get($--Space-table-cell-y, $breakpoint);

        &.m--#{$breakpoint} {
            font-size: d($font-size);
            td {
                padding: d($space-table-cell-y) d($space-table-cell-x);
            }
        }
    }

    // border
    &.m--border {
        table {
            td {
                &:before {
                    content: ' ';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: $--color-border;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    // sticky-header
    &.m--sticky-header {
        .m-table-head {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    // hover
    &.m--row-hover {
        .m-table-body__row {
            @include hover-bg();
        }
    }
    &.m--cell-hover {
        .m-table-body__cell {
            @include hover-bg();
        }
    }


    .m-table-body__row {
        // row selected
        &.m--selected {
            background-color: $--color-hover-bg;
        }
        // row disabled
        &.m--disabled {
            background-color: $--color-hover-bg;
        }
    }

    // expand
    .m-table-body__expand {
        height: 0 !important;
        max-width: 100%;
        > td {
            padding: 0;
        }
        .m-table-body__expand-content {
            box-shadow: getElevation(2) inset;
            background-color: getColor(gray, 50);
        }
    }
}
