$--color-table-border: getColor(gray, 300);

.m-table {
    border-radius: d($--radius);
    table {
        width: 100%;
        border-collapse: collapse;
        tbody{
            tr:first-child{
                td {
                    border-top: none;
                }
            }
        }
        tr {
            td {
                border-width: 1px;
                border-style: solid;
                border-color: transparent;
            }
        }
    }

    // size
    @each $breakpoint in $--Breakpoints {
        $font-size: map_get($--Size-font, $breakpoint);
        $space-table-cell-x: map_get($--Space-table-cell-x, $breakpoint);
        $space-table-cell-y: map_get($--Space-table-cell-y, $breakpoint);

        &.m--#{$breakpoint} {
            font-size: d($font-size);
            td {
                padding: d($space-table-cell-y) d($space-table-cell-x);
            }
        }
    }

    // border
    table {
        tr {
            td {
                border-color: $--color-table-border;
            }
        }
    }
    &.m--border {
        table {
            td {
                border-color: $--color-table-border;
            }
        }
    }
}
