
.m--transition-scale-enter-active,
.m--transition-scale-leave-active {
    transition: all .2s ease;
    backface-visibility: hidden;
}


.m-transition-expansion-enter-active,
.m-transition-expansion-leave-active {
    transition: max-height 1s ease;
    max-height: 99999px;

    opacity: 1;
}

.m-transition-expansion-enter,
.m-transition-expansion-leave {
    max-height: 1px;
    overflow: hidden;
    opacity: 0;
}
