$icomoon-font-path: "fonts" !default;

$m-icon-3d_rotation: "\e84d";
$m-icon-ac_unit: "\eb3b";
$m-icon-alarm: "\e855";
$m-icon-access_alarms: "\e191";
$m-icon-schedule: "\e8b5";
$m-icon-accessibility: "\e84e";
$m-icon-accessible: "\e914";
$m-icon-account_balance: "\e84f";
$m-icon-account_balance_wallet: "\e850";
$m-icon-account_box: "\e851";
$m-icon-account_circle: "\e853";
$m-icon-adb: "\e60e";
$m-icon-add: "\e145";
$m-icon-add_a_photo: "\e439";
$m-icon-alarm_add: "\e856";
$m-icon-add_alert: "\e003";
$m-icon-add_box: "\e146";
$m-icon-add_circle: "\e147";
$m-icon-control_point: "\e3ba";
$m-icon-add_location: "\e567";
$m-icon-add_shopping_cart: "\e854";
$m-icon-queue: "\e03c";
$m-icon-add_to_queue: "\e05c";
$m-icon-adjust: "\e39e";
$m-icon-airline_seat_flat: "\e630";
$m-icon-airline_seat_flat_angled: "\e631";
$m-icon-airline_seat_individual_suite: "\e632";
$m-icon-airline_seat_legroom_extra: "\e633";
$m-icon-airline_seat_legroom_normal: "\e634";
$m-icon-airline_seat_legroom_reduced: "\e635";
$m-icon-airline_seat_recline_extra: "\e636";
$m-icon-airline_seat_recline_normal: "\e637";
$m-icon-flight: "\e539";
$m-icon-airplanemode_inactive: "\e194";
$m-icon-airplay: "\e055";
$m-icon-airport_shuttle: "\eb3c";
$m-icon-alarm_off: "\e857";
$m-icon-alarm_on: "\e858";
$m-icon-album: "\e019";
$m-icon-all_inclusive: "\eb3d";
$m-icon-all_out: "\e90b";
$m-icon-android: "\e859";
$m-icon-announcement: "\e85a";
$m-icon-apps: "\e5c3";
$m-icon-archive: "\e149";
$m-icon-arrow_back: "\e5c4";
$m-icon-arrow_downward: "\e5db";
$m-icon-arrow_drop_down: "\e5c5";
$m-icon-arrow_drop_down_circle: "\e5c6";
$m-icon-arrow_drop_up: "\e5c7";
$m-icon-arrow_forward: "\e5c8";
$m-icon-arrow_upward: "\e5d8";
$m-icon-art_track: "\e060";
$m-icon-aspect_ratio: "\e85b";
$m-icon-poll: "\e801";
$m-icon-assignment: "\e85d";
$m-icon-assignment_ind: "\e85e";
$m-icon-assignment_late: "\e85f";
$m-icon-assignment_return: "\e860";
$m-icon-assignment_returned: "\e861";
$m-icon-assignment_turned_in: "\e862";
$m-icon-assistant: "\e39f";
$m-icon-flag: "\e153";
$m-icon-attach_file: "\e226";
$m-icon-attach_money: "\e227";
$m-icon-attachment: "\e2bc";
$m-icon-audiotrack: "\e3a1";
$m-icon-autorenew: "\e863";
$m-icon-av_timer: "\e01b";
$m-icon-backspace: "\e14a";
$m-icon-cloud_upload: "\e2c3";
$m-icon-battery_alert: "\e19c";
$m-icon-battery_charging_full: "\e1a3";
$m-icon-battery_std: "\e1a5";
$m-icon-battery_unknown: "\e1a6";
$m-icon-beach_access: "\eb3e";
$m-icon-beenhere: "\e52d";
$m-icon-block: "\e14b";
$m-icon-bluetooth: "\e1a7";
$m-icon-bluetooth_searching: "\e1aa";
$m-icon-bluetooth_connected: "\e1a8";
$m-icon-bluetooth_disabled: "\e1a9";
$m-icon-blur_circular: "\e3a2";
$m-icon-blur_linear: "\e3a3";
$m-icon-blur_off: "\e3a4";
$m-icon-blur_on: "\e3a5";
$m-icon-class: "\e86e";
$m-icon-turned_in: "\e8e6";
$m-icon-turned_in_not: "\e8e7";
$m-icon-border_all: "\e228";
$m-icon-border_bottom: "\e229";
$m-icon-border_clear: "\e22a";
$m-icon-border_color: "\e22b";
$m-icon-border_horizontal: "\e22c";
$m-icon-border_inner: "\e22d";
$m-icon-border_left: "\e22e";
$m-icon-border_outer: "\e22f";
$m-icon-border_right: "\e230";
$m-icon-border_style: "\e231";
$m-icon-border_top: "\e232";
$m-icon-border_vertical: "\e233";
$m-icon-branding_watermark: "\e06b";
$m-icon-brightness_1: "\e3a6";
$m-icon-brightness_2: "\e3a7";
$m-icon-brightness_3: "\e3a8";
$m-icon-brightness_4: "\e3a9";
$m-icon-brightness_low: "\e1ad";
$m-icon-brightness_medium: "\e1ae";
$m-icon-brightness_high: "\e1ac";
$m-icon-brightness_auto: "\e1ab";
$m-icon-broken_image: "\e3ad";
$m-icon-brush: "\e3ae";
$m-icon-bubble_chart: "\e6dd";
$m-icon-bug_report: "\e868";
$m-icon-build: "\e869";
$m-icon-burst_mode: "\e43c";
$m-icon-domain: "\e7ee";
$m-icon-business_center: "\eb3f";
$m-icon-cached: "\e86a";
$m-icon-cake: "\e7e9";
$m-icon-phone: "\e0cd";
$m-icon-call_end: "\e0b1";
$m-icon-call_made: "\e0b2";
$m-icon-merge_type: "\e252";
$m-icon-call_missed: "\e0b4";
$m-icon-call_missed_outgoing: "\e0e4";
$m-icon-call_received: "\e0b5";
$m-icon-call_split: "\e0b6";
$m-icon-call_to_action: "\e06c";
$m-icon-camera: "\e3af";
$m-icon-photo_camera: "\e412";
$m-icon-camera_enhance: "\e8fc";
$m-icon-camera_front: "\e3b1";
$m-icon-camera_rear: "\e3b2";
$m-icon-camera_roll: "\e3b3";
$m-icon-cancel: "\e5c9";
$m-icon-redeem: "\e8b1";
$m-icon-card_membership: "\e8f7";
$m-icon-card_travel: "\e8f8";
$m-icon-casino: "\eb40";
$m-icon-cast: "\e307";
$m-icon-cast_connected: "\e308";
$m-icon-center_focus_strong: "\e3b4";
$m-icon-center_focus_weak: "\e3b5";
$m-icon-change_history: "\e86b";
$m-icon-chat: "\e0b7";
$m-icon-chat_bubble: "\e0ca";
$m-icon-chat_bubble_outline: "\e0cb";
$m-icon-check: "\e5ca";
$m-icon-check_box: "\e834";
$m-icon-check_box_outline_blank: "\e835";
$m-icon-check_circle: "\e86c";
$m-icon-navigate_before: "\e408";
$m-icon-navigate_next: "\e409";
$m-icon-child_care: "\eb41";
$m-icon-child_friendly: "\eb42";
$m-icon-chrome_reader_mode: "\e86d";
$m-icon-close: "\e5cd";
$m-icon-clear_all: "\e0b8";
$m-icon-closed_caption: "\e01c";
$m-icon-wb_cloudy: "\e42d";
$m-icon-cloud_circle: "\e2be";
$m-icon-cloud_done: "\e2bf";
$m-icon-cloud_download: "\e2c0";
$m-icon-cloud_off: "\e2c1";
$m-icon-cloud_queue: "\e2c2";
$m-icon-code: "\e86f";
$m-icon-photo_library: "\e413";
$m-icon-collections_bookmark: "\e431";
$m-icon-palette: "\e40a";
$m-icon-colorize: "\e3b8";
$m-icon-comment: "\e0b9";
$m-icon-compare: "\e3b9";
$m-icon-compare_arrows: "\e915";
$m-icon-laptop: "\e31e";
$m-icon-confirmation_number: "\e638";
$m-icon-contact_mail: "\e0d0";
$m-icon-contact_phone: "\e0cf";
$m-icon-contacts: "\e0ba";
$m-icon-content_copy: "\e14d";
$m-icon-content_cut: "\e14e";
$m-icon-content_paste: "\e14f";
$m-icon-control_point_duplicate: "\e3bb";
$m-icon-copyright: "\e90c";
$m-icon-mode_edit: "\e254";
$m-icon-create_new_folder: "\e2cc";
$m-icon-payment: "\e8a1";
$m-icon-crop: "\e3be";
$m-icon-crop_16_9: "\e3bc";
$m-icon-crop_3_2: "\e3bd";
$m-icon-crop_landscape: "\e3c3";
$m-icon-crop_7_5: "\e3c0";
$m-icon-crop_din: "\e3c1";
$m-icon-crop_free: "\e3c2";
$m-icon-crop_original: "\e3c4";
$m-icon-crop_portrait: "\e3c5";
$m-icon-crop_rotate: "\e437";
$m-icon-crop_square: "\e3c6";
$m-icon-dashboard: "\e871";
$m-icon-data_usage: "\e1af";
$m-icon-date_range: "\e916";
$m-icon-dehaze: "\e3c7";
$m-icon-delete: "\e872";
$m-icon-delete_forever: "\e92b";
$m-icon-delete_sweep: "\e16c";
$m-icon-description: "\e873";
$m-icon-desktop_mac: "\e30b";
$m-icon-desktop_windows: "\e30c";
$m-icon-details: "\e3c8";
$m-icon-developer_board: "\e30d";
$m-icon-developer_mode: "\e1b0";
$m-icon-device_hub: "\e335";
$m-icon-phonelink: "\e326";
$m-icon-devices_other: "\e337";
$m-icon-dialer_sip: "\e0bb";
$m-icon-dialpad: "\e0bc";
$m-icon-directions: "\e52e";
$m-icon-directions_bike: "\e52f";
$m-icon-directions_boat: "\e532";
$m-icon-directions_bus: "\e530";
$m-icon-directions_car: "\e531";
$m-icon-directions_railway: "\e534";
$m-icon-directions_run: "\e566";
$m-icon-directions_transit: "\e535";
$m-icon-directions_walk: "\e536";
$m-icon-disc_full: "\e610";
$m-icon-dns: "\e875";
$m-icon-not_interested: "\e033";
$m-icon-do_not_disturb_alt: "\e611";
$m-icon-do_not_disturb_off: "\e643";
$m-icon-remove_circle: "\e15c";
$m-icon-dock: "\e30e";
$m-icon-done: "\e876";
$m-icon-done_all: "\e877";
$m-icon-donut_large: "\e917";
$m-icon-donut_small: "\e918";
$m-icon-drafts: "\e151";
$m-icon-drag_handle: "\e25d";
$m-icon-time_to_leave: "\e62c";
$m-icon-dvr: "\e1b2";
$m-icon-edit_location: "\e568";
$m-icon-eject: "\e8fb";
$m-icon-markunread: "\e159";
$m-icon-enhanced_encryption: "\e63f";
$m-icon-equalizer: "\e01d";
$m-icon-error: "\e000";
$m-icon-error_outline: "\e001";
$m-icon-euro_symbol: "\e926";
$m-icon-ev_station: "\e56d";
$m-icon-insert_invitation: "\e24f";
$m-icon-event_available: "\e614";
$m-icon-event_busy: "\e615";
$m-icon-event_note: "\e616";
$m-icon-event_seat: "\e903";
$m-icon-exit_to_app: "\e879";
$m-icon-expand_less: "\e5ce";
$m-icon-expand_more: "\e5cf";
$m-icon-explicit: "\e01e";
$m-icon-explore: "\e87a";
$m-icon-exposure: "\e3ca";
$m-icon-exposure_neg_1: "\e3cb";
$m-icon-exposure_neg_2: "\e3cc";
$m-icon-exposure_plus_1: "\e3cd";
$m-icon-exposure_plus_2: "\e3ce";
$m-icon-exposure_zero: "\e3cf";
$m-icon-extension: "\e87b";
$m-icon-face: "\e87c";
$m-icon-fast_forward: "\e01f";
$m-icon-fast_rewind: "\e020";
$m-icon-favorite: "\e87d";
$m-icon-favorite_border: "\e87e";
$m-icon-featured_play_list: "\e06d";
$m-icon-featured_video: "\e06e";
$m-icon-sms_failed: "\e626";
$m-icon-fiber_dvr: "\e05d";
$m-icon-fiber_manual_record: "\e061";
$m-icon-fiber_new: "\e05e";
$m-icon-fiber_pin: "\e06a";
$m-icon-fiber_smart_record: "\e062";
$m-icon-get_app: "\e884";
$m-icon-file_upload: "\e2c6";
$m-icon-filter: "\e3d3";
$m-icon-filter_1: "\e3d0";
$m-icon-filter_2: "\e3d1";
$m-icon-filter_3: "\e3d2";
$m-icon-filter_4: "\e3d4";
$m-icon-filter_5: "\e3d5";
$m-icon-filter_6: "\e3d6";
$m-icon-filter_7: "\e3d7";
$m-icon-filter_8: "\e3d8";
$m-icon-filter_9: "\e3d9";
$m-icon-filter_9_plus: "\e3da";
$m-icon-filter_b_and_w: "\e3db";
$m-icon-filter_center_focus: "\e3dc";
$m-icon-filter_drama: "\e3dd";
$m-icon-filter_frames: "\e3de";
$m-icon-terrain: "\e564";
$m-icon-filter_list: "\e152";
$m-icon-filter_none: "\e3e0";
$m-icon-filter_tilt_shift: "\e3e2";
$m-icon-filter_vintage: "\e3e3";
$m-icon-find_in_page: "\e880";
$m-icon-find_replace: "\e881";
$m-icon-fingerprint: "\e90d";
$m-icon-first_page: "\e5dc";
$m-icon-fitness_center: "\eb43";
$m-icon-flare: "\e3e4";
$m-icon-flash_auto: "\e3e5";
$m-icon-flash_off: "\e3e6";
$m-icon-flash_on: "\e3e7";
$m-icon-flight_land: "\e904";
$m-icon-flight_takeoff: "\e905";
$m-icon-flip: "\e3e8";
$m-icon-flip_to_back: "\e882";
$m-icon-flip_to_front: "\e883";
$m-icon-folder: "\e2c7";
$m-icon-folder_open: "\e2c8";
$m-icon-folder_shared: "\e2c9";
$m-icon-folder_special: "\e617";
$m-icon-font_download: "\e167";
$m-icon-format_align_center: "\e234";
$m-icon-format_align_justify: "\e235";
$m-icon-format_align_left: "\e236";
$m-icon-format_align_right: "\e237";
$m-icon-format_bold: "\e238";
$m-icon-format_clear: "\e239";
$m-icon-format_color_fill: "\e23a";
$m-icon-format_color_reset: "\e23b";
$m-icon-format_color_text: "\e23c";
$m-icon-format_indent_decrease: "\e23d";
$m-icon-format_indent_increase: "\e23e";
$m-icon-format_italic: "\e23f";
$m-icon-format_line_spacing: "\e240";
$m-icon-format_list_bulleted: "\e241";
$m-icon-format_list_numbered: "\e242";
$m-icon-format_paint: "\e243";
$m-icon-format_quote: "\e244";
$m-icon-format_shapes: "\e25e";
$m-icon-format_size: "\e245";
$m-icon-format_strikethrough: "\e246";
$m-icon-format_textdirection_l_to_r: "\e247";
$m-icon-format_textdirection_r_to_l: "\e248";
$m-icon-format_underlined: "\e249";
$m-icon-question_answer: "\e8af";
$m-icon-forward: "\e154";
$m-icon-forward_10: "\e056";
$m-icon-forward_30: "\e057";
$m-icon-forward_5: "\e058";
$m-icon-free_breakfast: "\eb44";
$m-icon-fullscreen: "\e5d0";
$m-icon-fullscreen_exit: "\e5d1";
$m-icon-functions: "\e24a";
$m-icon-g_translate: "\e927";
$m-icon-games: "\e021";
$m-icon-gavel: "\e90e";
$m-icon-gesture: "\e155";
$m-icon-gif: "\e908";
$m-icon-goat: "\e900";
$m-icon-golf_course: "\eb45";
$m-icon-my_location: "\e55c";
$m-icon-location_searching: "\e1b7";
$m-icon-location_disabled: "\e1b6";
$m-icon-star: "\e838";
$m-icon-gradient: "\e3e9";
$m-icon-grain: "\e3ea";
$m-icon-graphic_eq: "\e1b8";
$m-icon-grid_off: "\e3eb";
$m-icon-grid_on: "\e3ec";
$m-icon-people: "\e7fb";
$m-icon-group_add: "\e7f0";
$m-icon-group_work: "\e886";
$m-icon-hd: "\e052";
$m-icon-hdr_off: "\e3ed";
$m-icon-hdr_on: "\e3ee";
$m-icon-hdr_strong: "\e3f1";
$m-icon-hdr_weak: "\e3f2";
$m-icon-headset: "\e310";
$m-icon-headset_mic: "\e311";
$m-icon-healing: "\e3f3";
$m-icon-hearing: "\e023";
$m-icon-help: "\e887";
$m-icon-help_outline: "\e8fd";
$m-icon-high_quality: "\e024";
$m-icon-highlight: "\e25f";
$m-icon-highlight_off: "\e888";
$m-icon-restore: "\e8b3";
$m-icon-home: "\e88a";
$m-icon-hot_tub: "\eb46";
$m-icon-local_hotel: "\e549";
$m-icon-hourglass_empty: "\e88b";
$m-icon-hourglass_full: "\e88c";
$m-icon-http: "\e902";
$m-icon-lock: "\e897";
$m-icon-photo: "\e410";
$m-icon-image_aspect_ratio: "\e3f5";
$m-icon-import_contacts: "\e0e0";
$m-icon-import_export: "\e0c3";
$m-icon-important_devices: "\e912";
$m-icon-inbox: "\e156";
$m-icon-indeterminate_check_box: "\e909";
$m-icon-info: "\e88e";
$m-icon-info_outline: "\e88f";
$m-icon-input: "\e890";
$m-icon-insert_comment: "\e24c";
$m-icon-insert_drive_file: "\e24d";
$m-icon-tag_faces: "\e420";
$m-icon-link: "\e157";
$m-icon-invert_colors: "\e891";
$m-icon-invert_colors_off: "\e0c4";
$m-icon-iso: "\e3f6";
$m-icon-keyboard: "\e312";
$m-icon-keyboard_arrow_down: "\e313";
$m-icon-keyboard_arrow_left: "\e314";
$m-icon-keyboard_arrow_right: "\e315";
$m-icon-keyboard_arrow_up: "\e316";
$m-icon-keyboard_backspace: "\e317";
$m-icon-keyboard_capslock: "\e318";
$m-icon-keyboard_hide: "\e31a";
$m-icon-keyboard_return: "\e31b";
$m-icon-keyboard_tab: "\e31c";
$m-icon-keyboard_voice: "\e31d";
$m-icon-kitchen: "\eb47";
$m-icon-label: "\e892";
$m-icon-label_outline: "\e893";
$m-icon-language: "\e894";
$m-icon-laptop_chromebook: "\e31f";
$m-icon-laptop_mac: "\e320";
$m-icon-laptop_windows: "\e321";
$m-icon-last_page: "\e5dd";
$m-icon-open_in_new: "\e89e";
$m-icon-layers: "\e53b";
$m-icon-layers_clear: "\e53c";
$m-icon-leak_add: "\e3f8";
$m-icon-leak_remove: "\e3f9";
$m-icon-lens: "\e3fa";
$m-icon-library_books: "\e02f";
$m-icon-library_music: "\e030";
$m-icon-lightbulb_outline: "\e90f";
$m-icon-line_style: "\e919";
$m-icon-line_weight: "\e91a";
$m-icon-linear_scale: "\e260";
$m-icon-linked_camera: "\e438";
$m-icon-list: "\e896";
$m-icon-live_help: "\e0c6";
$m-icon-live_tv: "\e639";
$m-icon-local_play: "\e553";
$m-icon-local_airport: "\e53d";
$m-icon-local_atm: "\e53e";
$m-icon-local_bar: "\e540";
$m-icon-local_cafe: "\e541";
$m-icon-local_car_wash: "\e542";
$m-icon-local_convenience_store: "\e543";
$m-icon-restaurant_menu: "\e561";
$m-icon-local_drink: "\e544";
$m-icon-local_florist: "\e545";
$m-icon-local_gas_station: "\e546";
$m-icon-shopping_cart: "\e8cc";
$m-icon-local_hospital: "\e548";
$m-icon-local_laundry_service: "\e54a";
$m-icon-local_library: "\e54b";
$m-icon-local_mall: "\e54c";
$m-icon-theaters: "\e8da";
$m-icon-local_offer: "\e54e";
$m-icon-local_parking: "\e54f";
$m-icon-local_pharmacy: "\e550";
$m-icon-local_pizza: "\e552";
$m-icon-print: "\e8ad";
$m-icon-local_shipping: "\e558";
$m-icon-local_taxi: "\e559";
$m-icon-location_city: "\e7f1";
$m-icon-location_off: "\e0c7";
$m-icon-room: "\e8b4";
$m-icon-lock_open: "\e898";
$m-icon-lock_outline: "\e899";
$m-icon-looks: "\e3fc";
$m-icon-looks_3: "\e3fb";
$m-icon-looks_4: "\e3fd";
$m-icon-looks_5: "\e3fe";
$m-icon-looks_6: "\e3ff";
$m-icon-looks_one: "\e400";
$m-icon-looks_two: "\e401";
$m-icon-sync: "\e627";
$m-icon-loupe: "\e402";
$m-icon-low_priority: "\e16d";
$m-icon-loyalty: "\e89a";
$m-icon-mail_outline: "\e0e1";
$m-icon-map: "\e55b";
$m-icon-markunread_mailbox: "\e89b";
$m-icon-memory: "\e322";
$m-icon-menu: "\e5d2";
$m-icon-message: "\e0c9";
$m-icon-mic: "\e029";
$m-icon-mic_none: "\e02a";
$m-icon-mic_off: "\e02b";
$m-icon-mms: "\e618";
$m-icon-mode_comment: "\e253";
$m-icon-monetization_on: "\e263";
$m-icon-money_off: "\e25c";
$m-icon-monochrome_photos: "\e403";
$m-icon-mood_bad: "\e7f3";
$m-icon-more: "\e619";
$m-icon-more_horiz: "\e5d3";
$m-icon-more_vert: "\e5d4";
$m-icon-motorcycle: "\e91b";
$m-icon-mouse: "\e323";
$m-icon-move_to_inbox: "\e168";
$m-icon-movie_creation: "\e404";
$m-icon-movie_filter: "\e43a";
$m-icon-multiline_chart: "\e6df";
$m-icon-music_note: "\e405";
$m-icon-music_video: "\e063";
$m-icon-nature: "\e406";
$m-icon-nature_people: "\e407";
$m-icon-navigation: "\e55d";
$m-icon-near_me: "\e569";
$m-icon-network_cell: "\e1b9";
$m-icon-network_check: "\e640";
$m-icon-network_locked: "\e61a";
$m-icon-network_wifi: "\e1ba";
$m-icon-new_releases: "\e031";
$m-icon-next_week: "\e16a";
$m-icon-nfc: "\e1bb";
$m-icon-no_encryption: "\e641";
$m-icon-signal_cellular_no_sim: "\e1ce";
$m-icon-note: "\e06f";
$m-icon-note_add: "\e89c";
$m-icon-notifications: "\e7f4";
$m-icon-notifications_active: "\e7f7";
$m-icon-notifications_none: "\e7f5";
$m-icon-notifications_off: "\e7f6";
$m-icon-notifications_paused: "\e7f8";
$m-icon-offline_pin: "\e90a";
$m-icon-ondemand_video: "\e63a";
$m-icon-opacity: "\e91c";
$m-icon-open_in_browser: "\e89d";
$m-icon-open_with: "\e89f";
$m-icon-pages: "\e7f9";
$m-icon-pageview: "\e8a0";
$m-icon-pan_tool: "\e925";
$m-icon-panorama: "\e40b";
$m-icon-radio_button_unchecked: "\e836";
$m-icon-panorama_horizontal: "\e40d";
$m-icon-panorama_vertical: "\e40e";
$m-icon-panorama_wide_angle: "\e40f";
$m-icon-party_mode: "\e7fa";
$m-icon-pause: "\e034";
$m-icon-pause_circle_filled: "\e035";
$m-icon-pause_circle_outline: "\e036";
$m-icon-people_outline: "\e7fc";
$m-icon-perm_camera_mic: "\e8a2";
$m-icon-perm_contact_calendar: "\e8a3";
$m-icon-perm_data_setting: "\e8a4";
$m-icon-perm_device_information: "\e8a5";
$m-icon-person_outline: "\e7ff";
$m-icon-perm_media: "\e8a7";
$m-icon-perm_phone_msg: "\e8a8";
$m-icon-perm_scan_wifi: "\e8a9";
$m-icon-person: "\e7fd";
$m-icon-person_add: "\e7fe";
$m-icon-person_pin: "\e55a";
$m-icon-person_pin_circle: "\e56a";
$m-icon-personal_video: "\e63b";
$m-icon-pets: "\e91d";
$m-icon-phone_android: "\e324";
$m-icon-phone_bluetooth_speaker: "\e61b";
$m-icon-phone_forwarded: "\e61c";
$m-icon-phone_in_talk: "\e61d";
$m-icon-phone_iphone: "\e325";
$m-icon-phone_locked: "\e61e";
$m-icon-phone_missed: "\e61f";
$m-icon-phone_paused: "\e620";
$m-icon-phonelink_erase: "\e0db";
$m-icon-phonelink_lock: "\e0dc";
$m-icon-phonelink_off: "\e327";
$m-icon-phonelink_ring: "\e0dd";
$m-icon-phonelink_setup: "\e0de";
$m-icon-photo_album: "\e411";
$m-icon-photo_filter: "\e43b";
$m-icon-photo_size_select_actual: "\e432";
$m-icon-photo_size_select_large: "\e433";
$m-icon-photo_size_select_small: "\e434";
$m-icon-picture_as_pdf: "\e415";
$m-icon-picture_in_picture: "\e8aa";
$m-icon-picture_in_picture_alt: "\e911";
$m-icon-pie_chart: "\e6c4";
$m-icon-pie_chart_outlined: "\e6c5";
$m-icon-pin_drop: "\e55e";
$m-icon-play_arrow: "\e037";
$m-icon-play_circle_filled: "\e038";
$m-icon-play_circle_outline: "\e039";
$m-icon-play_for_work: "\e906";
$m-icon-playlist_add: "\e03b";
$m-icon-playlist_add_check: "\e065";
$m-icon-playlist_play: "\e05f";
$m-icon-plus_one: "\e800";
$m-icon-polymer: "\e8ab";
$m-icon-pool: "\eb48";
$m-icon-portable_wifi_off: "\e0ce";
$m-icon-portrait: "\e416";
$m-icon-power: "\e63c";
$m-icon-power_input: "\e336";
$m-icon-power_settings_new: "\e8ac";
$m-icon-pregnant_woman: "\e91e";
$m-icon-present_to_all: "\e0df";
$m-icon-priority_high: "\e645";
$m-icon-public: "\e80b";
$m-icon-publish: "\e255";
$m-icon-queue_music: "\e03d";
$m-icon-queue_play_next: "\e066";
$m-icon-radio: "\e03e";
$m-icon-radio_button_checked: "\e837";
$m-icon-rate_review: "\e560";
$m-icon-receipt: "\e8b0";
$m-icon-recent_actors: "\e03f";
$m-icon-record_voice_over: "\e91f";
$m-icon-redo: "\e15a";
$m-icon-refresh: "\e5d5";
$m-icon-remove: "\e15b";
$m-icon-remove_circle_outline: "\e15d";
$m-icon-remove_from_queue: "\e067";
$m-icon-visibility: "\e8f4";
$m-icon-remove_shopping_cart: "\e928";
$m-icon-reorder: "\e8fe";
$m-icon-repeat: "\e040";
$m-icon-repeat_one: "\e041";
$m-icon-replay: "\e042";
$m-icon-replay_10: "\e059";
$m-icon-replay_30: "\e05a";
$m-icon-replay_5: "\e05b";
$m-icon-reply: "\e15e";
$m-icon-reply_all: "\e15f";
$m-icon-report: "\e160";
$m-icon-warning: "\e002";
$m-icon-restaurant: "\e56c";
$m-icon-restore_page: "\e929";
$m-icon-ring_volume: "\e0d1";
$m-icon-room_service: "\eb49";
$m-icon-rotate_90_degrees_ccw: "\e418";
$m-icon-rotate_left: "\e419";
$m-icon-rotate_right: "\e41a";
$m-icon-rounded_corner: "\e920";
$m-icon-router: "\e328";
$m-icon-rowing: "\e921";
$m-icon-rss_feed: "\e0e5";
$m-icon-rv_hookup: "\e642";
$m-icon-satellite: "\e562";
$m-icon-save: "\e161";
$m-icon-scanner: "\e329";
$m-icon-school: "\e80c";
$m-icon-screen_lock_landscape: "\e1be";
$m-icon-screen_lock_portrait: "\e1bf";
$m-icon-screen_lock_rotation: "\e1c0";
$m-icon-screen_rotation: "\e1c1";
$m-icon-screen_share: "\e0e2";
$m-icon-sd_storage: "\e1c2";
$m-icon-search: "\e8b6";
$m-icon-security: "\e32a";
$m-icon-select_all: "\e162";
$m-icon-send: "\e163";
$m-icon-sentiment_dissatisfied: "\e811";
$m-icon-sentiment_neutral: "\e812";
$m-icon-sentiment_satisfied: "\e813";
$m-icon-sentiment_very_dissatisfied: "\e814";
$m-icon-sentiment_very_satisfied: "\e815";
$m-icon-settings: "\e8b8";
$m-icon-settings_applications: "\e8b9";
$m-icon-settings_backup_restore: "\e8ba";
$m-icon-settings_bluetooth: "\e8bb";
$m-icon-settings_brightness: "\e8bd";
$m-icon-settings_cell: "\e8bc";
$m-icon-settings_ethernet: "\e8be";
$m-icon-settings_input_antenna: "\e8bf";
$m-icon-settings_input_composite: "\e8c1";
$m-icon-settings_input_hdmi: "\e8c2";
$m-icon-settings_input_svideo: "\e8c3";
$m-icon-settings_overscan: "\e8c4";
$m-icon-settings_phone: "\e8c5";
$m-icon-settings_power: "\e8c6";
$m-icon-settings_remote: "\e8c7";
$m-icon-settings_system_daydream: "\e1c3";
$m-icon-settings_voice: "\e8c8";
$m-icon-share: "\e80d";
$m-icon-shop: "\e8c9";
$m-icon-shop_two: "\e8ca";
$m-icon-shopping_basket: "\e8cb";
$m-icon-short_text: "\e261";
$m-icon-show_chart: "\e6e1";
$m-icon-shuffle: "\e043";
$m-icon-signal_cellular_4_bar: "\e1c8";
$m-icon-signal_cellular_connected_no_internet_4_bar: "\e1cd";
$m-icon-signal_cellular_null: "\e1cf";
$m-icon-signal_cellular_off: "\e1d0";
$m-icon-signal_wifi_4_bar: "\e1d8";
$m-icon-signal_wifi_4_bar_lock: "\e1d9";
$m-icon-signal_wifi_off: "\e1da";
$m-icon-sim_card: "\e32b";
$m-icon-sim_card_alert: "\e624";
$m-icon-skip_next: "\e044";
$m-icon-skip_previous: "\e045";
$m-icon-slideshow: "\e41b";
$m-icon-slow_motion_video: "\e068";
$m-icon-stay_primary_portrait: "\e0d6";
$m-icon-smoke_free: "\eb4a";
$m-icon-smoking_rooms: "\eb4b";
$m-icon-textsms: "\e0d8";
$m-icon-snooze: "\e046";
$m-icon-sort: "\e164";
$m-icon-sort_by_alpha: "\e053";
$m-icon-spa: "\eb4c";
$m-icon-space_bar: "\e256";
$m-icon-speaker: "\e32d";
$m-icon-speaker_group: "\e32e";
$m-icon-speaker_notes: "\e8cd";
$m-icon-speaker_notes_off: "\e92a";
$m-icon-speaker_phone: "\e0d2";
$m-icon-spellcheck: "\e8ce";
$m-icon-star_border: "\e83a";
$m-icon-star_half: "\e839";
$m-icon-stars: "\e8d0";
$m-icon-stay_primary_landscape: "\e0d5";
$m-icon-stop: "\e047";
$m-icon-stop_screen_share: "\e0e3";
$m-icon-storage: "\e1db";
$m-icon-store_mall_directory: "\e563";
$m-icon-straighten: "\e41c";
$m-icon-streetview: "\e56e";
$m-icon-strikethrough_s: "\e257";
$m-icon-style: "\e41d";
$m-icon-subdirectory_arrow_left: "\e5d9";
$m-icon-subdirectory_arrow_right: "\e5da";
$m-icon-subject: "\e8d2";
$m-icon-subscriptions: "\e064";
$m-icon-subtitles: "\e048";
$m-icon-subway: "\e56f";
$m-icon-supervisor_account: "\e8d3";
$m-icon-surround_sound: "\e049";
$m-icon-swap_calls: "\e0d7";
$m-icon-swap_horiz: "\e8d4";
$m-icon-swap_vert: "\e8d5";
$m-icon-swap_vertical_circle: "\e8d6";
$m-icon-switch_camera: "\e41e";
$m-icon-switch_video: "\e41f";
$m-icon-sync_disabled: "\e628";
$m-icon-sync_problem: "\e629";
$m-icon-system_update: "\e62a";
$m-icon-system_update_alt: "\e8d7";
$m-icon-tab: "\e8d8";
$m-icon-tab_unselected: "\e8d9";
$m-icon-tablet: "\e32f";
$m-icon-tablet_android: "\e330";
$m-icon-tablet_mac: "\e331";
$m-icon-tap_and_play: "\e62b";
$m-icon-text_fields: "\e262";
$m-icon-text_format: "\e165";
$m-icon-texture: "\e421";
$m-icon-thumb_down: "\e8db";
$m-icon-thumb_up: "\e8dc";
$m-icon-thumbs_up_down: "\e8dd";
$m-icon-timelapse: "\e422";
$m-icon-timeline: "\e922";
$m-icon-timer: "\e425";
$m-icon-timer_10: "\e423";
$m-icon-timer_3: "\e424";
$m-icon-timer_off: "\e426";
$m-icon-title: "\e264";
$m-icon-toc: "\e8de";
$m-icon-today: "\e8df";
$m-icon-toll: "\e8e0";
$m-icon-tonality: "\e427";
$m-icon-touch_app: "\e913";
$m-icon-toys: "\e332";
$m-icon-track_changes: "\e8e1";
$m-icon-traffic: "\e565";
$m-icon-train: "\e570";
$m-icon-tram: "\e571";
$m-icon-transfer_within_a_station: "\e572";
$m-icon-transform: "\e428";
$m-icon-translate: "\e8e2";
$m-icon-trending_down: "\e8e3";
$m-icon-trending_flat: "\e8e4";
$m-icon-trending_up: "\e8e5";
$m-icon-tune: "\e429";
$m-icon-tv: "\e333";
$m-icon-unarchive: "\e169";
$m-icon-undo: "\e166";
$m-icon-unfold_less: "\e5d6";
$m-icon-unfold_more: "\e5d7";
$m-icon-update: "\e923";
$m-icon-usb: "\e1e0";
$m-icon-verified_user: "\e8e8";
$m-icon-vertical_align_bottom: "\e258";
$m-icon-vertical_align_center: "\e259";
$m-icon-vertical_align_top: "\e25a";
$m-icon-vibration: "\e62d";
$m-icon-video_call: "\e070";
$m-icon-video_label: "\e071";
$m-icon-video_library: "\e04a";
$m-icon-videocam: "\e04b";
$m-icon-videocam_off: "\e04c";
$m-icon-videogame_asset: "\e338";
$m-icon-view_agenda: "\e8e9";
$m-icon-view_array: "\e8ea";
$m-icon-view_carousel: "\e8eb";
$m-icon-view_column: "\e8ec";
$m-icon-view_comfy: "\e42a";
$m-icon-view_compact: "\e42b";
$m-icon-view_day: "\e8ed";
$m-icon-view_headline: "\e8ee";
$m-icon-view_list: "\e8ef";
$m-icon-view_module: "\e8f0";
$m-icon-view_quilt: "\e8f1";
$m-icon-view_stream: "\e8f2";
$m-icon-view_week: "\e8f3";
$m-icon-vignette: "\e435";
$m-icon-visibility_off: "\e8f5";
$m-icon-voice_chat: "\e62e";
$m-icon-voicemail: "\e0d9";
$m-icon-volume_down: "\e04d";
$m-icon-volume_mute: "\e04e";
$m-icon-volume_off: "\e04f";
$m-icon-volume_up: "\e050";
$m-icon-vpn_key: "\e0da";
$m-icon-vpn_lock: "\e62f";
$m-icon-wallpaper: "\e1bc";
$m-icon-watch: "\e334";
$m-icon-watch_later: "\e924";
$m-icon-wb_auto: "\e42c";
$m-icon-wb_incandescent: "\e42e";
$m-icon-wb_iridescent: "\e436";
$m-icon-wb_sunny: "\e430";
$m-icon-wc: "\e63d";
$m-icon-web: "\e051";
$m-icon-web_asset: "\e069";
$m-icon-weekend: "\e16b";
$m-icon-whatshot: "\e80e";
$m-icon-widgets: "\e1bd";
$m-icon-wifi: "\e63e";
$m-icon-wifi_lock: "\e1e1";
$m-icon-wifi_tethering: "\e1e2";
$m-icon-work: "\e8f9";
$m-icon-wrap_text: "\e25b";
$m-icon-youtube_searched_for: "\e8fa";
$m-icon-zoom_in: "\e8ff";
$m-icon-zoom_out: "\e901";
$m-icon-zoom_out_map: "\e56b";

