/**
 * bg & color 背景 颜色
 */
@each $main, $colors in $--Palettes {
    @each $key, $color in $colors {
        @if($key == 500){
            .m-bg--#{$main} {
                background-color: $color;
            }
            .m-color--#{$main}{
                color: $color;
            }
        }@else{
            .m-bg--#{$main}#{$key} {
                background-color: $color;
            }
            .m-color--#{$main}#{$key}{
                color: $color;
            }
        }
    }
}

/**
 * elevation 阴影
 */
@each $index, $elevation in $--Elevations {
    .m-shadow--#{$index} {
        box-shadow: $elevation;
    }
}