@import "~@megmore/scss-helper";
/**
 * variables register.
 */
.m-app-bar {
    // selection
    --m-app-bar-size-xs: 2.5rem;
    --m-app-bar-size-sm: 3.5rem;
    --m-app-bar-size-md: 4.5rem;
    --m-app-bar-size-lg: 5.5rem;
    --m-app-bar-size-xl: 6.5rem;

    // default
    --m-app-bar-color: var(--m-color-main);
    --m-app-bar-font-color: var(--m-font-color-main);
    --m-app-bar-elevation: var(--m-elevation-2);

    --m-app-bar-size: var(--m-app-bar-size-md);
}

/**
 * components styles.
 */
.m-app-bar {
    // theme
    box-shadow: var(--m-app-bar-elevation);
    height: var(--m-app-bar-size);
    color: var(--m-app-bar-font-color);
    background-color: var(--m-app-bar-color);

    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--m-app-bar-size) / 4);
    box-sizing: border-box;
    transition: all ease .3s;
    //position: sticky;
    //left: 0;
    //top: 0;
}