/**
 * 通用样式
 */

// bg & color 颜色
@each $main, $colors in $--Palettes {
    @each $key, $color in $colors {
        .m--bg-#{$main}#{$key} {
            background-color: $color;
        }
        .m--color-#{$main}#{$key}{
            color: $color;
        }
        .m--border-#{$main}#{$key}{
            border-color: $color;
        }
    }
}

// elevation 阴影
@each $index, $elevation in $--Elevations {
    .m--elevation-#{$index} {
        box-shadow: $elevation;
    }
}

// space 间距
