
.m--transition-scale-enter-active,
.m--transition-scale-leave-active {
   transition: all .2s ease;
   backface-visibility: hidden;
}

.m--transition-scale-enter,
.m--transition-scale-leave-active {
    transform: scale(0);
    opacity: 0;
}
