:root {
    --m-avatar__size-xs: 2rem;
    --m-avatar__size-sm: 3rem;
    --m-avatar__size-md: 4rem;
    --m-avatar__size-lg: 5rem;
    --m-avatar__size-xl: 6rem;

    --m-avatar__font-size-xs: .6rem;
    --m-avatar__font-size-sm: .8rem;
    --m-avatar__font-size-md: 1rem;
    --m-avatar__font-size-lg: 1.4rem;
    --m-avatar__font-size-xl: 1.8rem;
}