@import "palettes";
@import "elevations";

$--relative-base: 16;

//color
$--Color:(
    primary: getColor(purple, 500),
    danger: getColor(red, 500),
    success: getColor(green, 500),
    warning: getColor(orange, 500),
    info: getColor(blue, 500),
    default:getColor(blue, 50)
);


//font-size
$--font-size-h1: d(70);
$--font-size-h2: d(60);
$--font-size-h3: d(10);
$--font-size-h4: d(10);
$--font-size-h5: d(10);
$--font-size-h6: d(10);
$--font-size-p-xs: d(10);
$--font-size-p-sm: d(10);
$--font-size-p-md: d(10);

//space
$--Space: (
    xs: d(10),
    sm: d(20),
    md: d(30),
    lg: d(40),
    hg: d(50),
);
//avatar
$--Size-avatar: (
    xs: d(30),
    sm: d(45),
    md: d(60),
    lg: d(75),
    hg: d(90),
);
//avatar
$--FontSize-avatar: (
    xs: d(20),
    sm: d(30),
    md: d(40),
    lg: d(50),
    hg: d(60),
);

//space size
$--size-space-side: d(30);
$--size-space-updown: d(20);

//appBar size
$--size-appBar: d(60);
//toolbar size
$--size-toolbar: d(90);

//button height size
$--Size-button-height:(
    xs: d(24),
    sm: d(30),
    md: d(36),
    lg: d(44),
    hg: d(50),
);

$--size-button-min-width:d(88);

$--size-button-radius:d(2);

$--size-button-round-radius:d(28)


