@import "palettes";
@import "elevations";

$--relative-base: 16 !default;

//space
$--Space: (
    xs: 3,
    sm: 6,
    md: 12,
    lg: 24,
    xl: 48,
);
//avatar
$--Size-avatar: (
    xs: 30,
    sm: 45,
    md: 60,
    lg: 75,
    xl: 90,
);
//avatar
$--FontSize-avatar: (
    xs: 20,
    sm: 30,
    md: 40,
    lg: 50,
    xl: 60,
);

//space size
$--space-x: 20;
$--space-y: 30;

//appBar size
$--size-appBar: 60;
$--space-appBar-inset-y: 20;
$--space-appBar-inset-x: 15;
//toolbar size
$--size-toolbar: 90;

//button height size
$--Size-button-height:(
    xs: 24,
    sm: 30,
    md: 36,
    lg: 44,
    xl: 50,
);

$--size-button-min-width: 88;

$--size-button-radius: 2;

$--size-button-round-radius: 28;


$--transition-base:             all .2s ease-in-out !default;
$--transition-fade:             opacity .15s linear !default;
$--transition-collapse:         height .35s ease !default;