:root {
    --m-button__size-xs: 2rem;
    --m-button__size-sm: 2.5rem;
    --m-button__size-md: 3rem;
    --m-button__size-lg: 3.5rem;
    --m-button__size-xl: 4rem;

    --m-button__font-size-xs: .6rem;
    --m-button__font-size-sm: .8rem;
    --m-button__font-size-md: 1rem;
    --m-button__font-size-lg: 1.2rem;
    --m-button__font-size-xl: 1.4rem;
}