@import "appBar";
/**
 * 主题生产
 */
@mixin theme-generate(
    $theme: default,
    $appBarBg: getColor('blue', 500),
    $appBarColor: white
){
    .theme-#{$theme}{
        //appBar
        @include theme-appBar($appBarBg, $appBarColor)
        //buttons
    }
}