@import "~@megmore/scss-helper";

/**
 * variables register.
 */
.m-button {
  // selection
  --m-button-size-xs: 2rem;
  --m-button-size-sm: 3rem;
  --m-button-size-md: 3rem;
  --m-button-size-lg: 5rem;
  --m-button-size-xl: 6rem;

  // default
  --m-button-color: var(--m-color-main);
  --m-button-hover-color: var(--m-color-main);
  --m-button-font-color: var(--m-bg-color-main);
  --m-button-elevation: var(--m-elevation-2);
  --m-button-shape: var(--m-shape-corner);

  --m-button-size: var(--m-button-size-md);
  --m-button-border-size: .2rem;
}

.m-button {
  @include clear-button;
  background-color: var(--m-button-color);
  color: var(--m-button-font-color);
  min-height: var(--m-button-size);
  height: var(--m-button-size);
  min-width: var(--m-button-size);
  margin: .5em;
  border-radius: var(--m-button-shape);
  box-shadow: var(--m-button-elevation);
  border-color: var(--m-button-color);
  border-width: var(--m-button-border-size);

  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border-style: solid;
  position: relative;
  //> * {
  //  margin: 0 calc(var(--m-button-size) / 2);
  //}
  > * {
    vertical-align: middle;
  }
  .m-button__icon {

  }
  .m-button__main {
    margin: 0 calc(var(--m-button-size) / 4);
  }

    // hover
  &:hover {
    background-color: var(--m-button-hover-color);
    border-color: var(--m-button-hover-color);
  }

  // variety
  &.m--variety-outline {
    background-color: var(--m-bg-color-main);
    border-color: var(--m-button-color);
    color: var(--m-button-color);
    &:hover {
      //color: var(--m-button-hover-color);
      //border-color: var(--m-button-hover-color);
      //background-color: var(--m-button-hover-color);
      color: var(--m-button-color);
    }
  }

  // shape
  &.m--shape-circle {
    border-radius: var(--m-button-size);
  }
  &.m--shape-round {
    border-radius: var(--m-shape-round);
  }
  &.m--shape-square {
    border-radius: var(--m-shape-square);
  }

  transition: all ease .3s;
}