@import "~@megmore/scss-helper";

/**
 * variables register.
 */
:root {
  // selection
  --m-button-size-xs: 2rem;
  --m-button-size-sm: 3rem;
  --m-button-size-md: 3rem;
  --m-button-size-lg: 5rem;
  --m-button-size-xl: 6rem;

  // default
  --m-button-color: var(--m-color-main);
  --m-button-font-color: var(--m-bg-color-main);
  --m-button-elevation: var(--m-elevation-0);
  --m-button-shape: var(--m-shape-corner);

  --m-button-size: var(--m-button-size-md);
}

.m-button {
  @include clear-button;
  background-color: var(--m-button-color);
  color: var(--m-button-font-color);
  min-height: var(--m-button-size);
  padding: 0 calc(var(--m-button-size) / 2);
  border-radius: var(--m-button-shape);


  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  //// size
  //@each $name,
  //$value in $--Size-button-height {
  //  &.m--#{$name} {
  //    @include size-abs(d($value), y);
  //    font-size: d($value /2);
  //  }
  //} // type
  //&.m--normal {
  //  @include elevation(2)
  //}
  //&.m--outline {
  //  border-width: 2px;
  //  border-style: solid;
  //} // shape
  //&.m--square {
  //  border-radius: 0
  //}
  //&.m--corner {
  //  border-radius: d(map-get($--Radius, corner))
  //}
  //&.m--round {
  //  border-radius: d(map-get($--Radius, round))
  //}
  //&.m--circle {
  //  border-radius: 50%;
  //  @each $name,
  //  $value in $--Size-button-height {
  //    &.m--#{$name} {
  //      @include size-abs(d($value), x);
  //    }
  //  }
  //}
  //&:not(.m--bg-default) {
  //  color: getColor(grey, 50);
  //}
  //color:getColor(grey, A400);
  //min-width: d($--size-button-min-width);
  //cursor: pointer;
  //&>* {
  //  vertical-align: middle;
  //}
  transition: all ease .3s;
}