@import "~@megmore/scss-helper";
$--m-avatar-border-size: .2rem;
/**
 * variables register.
 */
:root {
    // selection
    --m-avatar-size-xs: 2rem;
    --m-avatar-size-sm: 3rem;
    --m-avatar-size-md: 4rem;
    --m-avatar-size-lg: 5rem;
    --m-avatar-size-xl: 6rem;

    // default
    --m-avatar-color: var(--m-color-pink-400);
    --m-avatar-border-color: var(--m-color-pink-400);
    --m-avatar-font-color: var(--m-font-color-1);
    --m-avatar-elevation: var(--m-elevation-0);
    --m-avatar-shape: var(--m-shape-circle);

    --m-avatar-size: var(--m-avatar-size-md);
}

/**
 * components styles.
 */
.m-avatar {
    border-radius: var(--m-avatar-shape);
    box-shadow: var(--m-avatar-elevation);
    background-color: var(--m-avatar-color);
    color: var(--m-avatar-font-color);

    width: var(--m-avatar-size);
    height: var(--m-avatar-size);
    font-size: var(--m-avatar-font-size);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    .m-avatar__cover {
        @include abs-size(100% ,xy);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: inherit;
    }

    // variety 
    &.m--outline {
        border-width: $--m-avatar-border-size;
        border-style: solid;
    }
}