@import "../import";

.m-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    > img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: inherit;
    }
    @each $breakpoint in $--Breakpoints {
        &.m--#{$breakpoint} {
            @include size-abs(var(--m-avatar__size-#{$breakpoint}), xy);
        }
    }
    // shape继承自m-radius

    // variety 
    &.m--outline {
        border-width: 2px;
        border-style: solid;
    }
    
    // 背景颜色继承utils .bg-name-value
    // 颜色继承utils .color-name-value
    // 阴影继承utils .shadow-name-value
}