/**
 * hover背景效果
 */
@mixin hover-bg(
    $with-class: false,
    $class-name: m--hover-bg
) {
    @if $with-class {
        .#{$class-name} {
            transition: background-color $--transition-effect-base;
            &:hover {
                background-color: $--color-hover-bg;
            }
        }
    } @else {
        transition: background-color $--transition-effect-base;
        &:hover {
            background-color: $--color-hover-bg;
        }
    }
}
