/**
 * 滚动容器
 */
@mixin scroller($dir:y){
  @if($dir == y){
    overflow: auto;
      //overflow-x: visible;
    overflow-x: hidden;
  } @else {
    overflow-x: auto;
    overflow-y: hidden;
  }
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}
/**
 * 移除滚动元素的滚动条
 */
@mixin no-scrollbar() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
/**
 * 自定义滚动元素的滚动条
 */
@mixin scroll-bar-slim($direction : y, $size: 7px){
  &::-webkit-scrollbar-thumb {
    background-color: getColor(gray, 400);
  }
  &::-webkit-scrollbar-track {
    background-color: getColor(gray, 300);
  }
  @if($direction == y){
    &::-webkit-scrollbar {
      width: $size;
    }
    &::-webkit-scrollbar-thumb {
      border-left: 2px solid transparent;
    }
    &l::-webkit-scrollbar-track {
      border-left: 2px solid transparent;
    }
  }
  @else{
    &::-webkit-scrollbar {
      height: $size;
    }
    &::-webkit-scrollbar-thumb {
      border-top: 2px solid transparent;
    }
    &::-webkit-scrollbar-track {
      border-top: 2px solid transparent;
    }
  }
}

