//移除滚动元素的滚动条
@mixin no-scrollbar() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin scroll-bar-slim($direction : y, $size: 7px){
  &::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
  }
  &::-webkit-scrollbar-track {
    background-color: #e5e5e5;
  }
  @if($direction == y){
    &::-webkit-scrollbar {
      width: $size;
    }
    &::-webkit-scrollbar-thumb {
      border-left: 2px solid transparent;
    }
    &l::-webkit-scrollbar-track {
      border-left: 2px solid transparent;
    }
  }
  @else{
    &::-webkit-scrollbar {
      height: $size;
    }
    &::-webkit-scrollbar-thumb {
      border-top: 2px solid transparent;
    }
    &::-webkit-scrollbar-track {
      border-top: 2px solid transparent;
    }
  }
}
